<html lang="en">
<head>
    <title>Music Friends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Music Friends</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Total Users: <span th:text="${totalUsers}"></span></p>
            <p>Total Searches: <span th:text="${totalSearches}"></span></p>
        </div>
    </div>
</div>
</body>
</html>